.grTable{


}
.grHeader
    {
    text-align: left;
    padding: 5px 0px 0px 5px;
    
    }
.grRow{
    padding: 5px 0px 0px 10px;
}
.deneme{
background-color:black;
    color: white;
}
    .k-icon
    {
    
        background-image: url('images/sprite.png');
        border-color: transparent;
        opacity: .9;
        position: static;
        vertical-align: text-top;
        display: inline-block;
        width: 16px;
        height: 16px;
        overflow: hidden;
        background-repeat: no-repeat;
        font-size: 0;
        line-height: 0;
        text-align: center;
    }
    .k-i-arrows-s
    {
        background-position: 0 -32px;
    }
.k-i-arrows-n
    {
        background-position: 0 -32px;
    }
.k-i-seek-w
{
    background-position: 0 -111px;
    }
.k-i-arrow-w{
background-position: 0 -174px;
}
.k-i-seek-e{
background-position: 0 -79px;
}
.k-i-arrow-e{
background-position: 0 -143px;
}

.k-link{
background-color: rgb(255, 252, 252);
padding: 4px;
border: 1px solid black;
border-radius: 13px;
height: 30px;
    margin-left: 2px;
}

.k-i-number
{
    padding: 4px 7px 4px 7px;
    
}
.k-link:hover{
 background-color: rgb(216, 210, 210);
    text-decoration: none;
}
    .k-header
    {
    overflow: hidden;
border-style: solid;
border-width: 0 0 1px 1px;
padding: .5em .6em .4em .6em;
font-weight: normal;
white-space: nowrap;
text-overflow: ellipsis;
        background-color:gray;
    }